@{ Layout = null; }
@using System.Linq
@model Concessionaria.Web.Application.DetalhesVendas.Model.DetalhesVendaModel

<div class="form-container">
    <h2>Detalhes Cliente</h2>
    <br />
    <div class="form-group">
        <label for="NomeCliente">Nome do Cliente</label>
        <input type="text" id="NomeCliente" name="NomeCliente" value="@Model.NomeCliente" readonly>
    </div>

    <div class="form-group">
        <label for="CPF">CPF</label>
        <input type="text" id="CPF" name="CPF" value="@Model.CPF" readonly>
    </div>

    <div class="form-group">
        <label for="DataNascimento">Data de Nascimento</label>
        <input type="date" id="DataNascimento" name="DataNascimento" value="@Model.DataNascimento.ToString("yyyy-MM-dd")" readonly>
    </div>

    <br />
    <h2>Detalhes do carro</h2>

    <div class="form-group">
        <label for="NomeModelo">Modelo do Carro</label>
        <input type="text" id="NomeModelo" name="NomeModelo" value="@Model.NomeModelo" readonly>
    </div>

    <div class="form-group">
        <label for="NomeMarca">Marca do Carro</label>
        <input type="text" id="NomeMarca" name="NomeMarca" value="@Model.NomeMarca" readonly>
    </div>

    <div class="form-group">
        <label for="NomeMotorizacao">Motorização</label>
        <input type="text" id="NomeMotorizacao" name="NomeMotorizacao" value="@Model.NomeMotorizacao" readonly>
    </div>

    <div class="form-group">
        <label for="NomeCarroceria">Carroceria</label>
        <input type="text" id="NomeCarroceria" name="NomeCarroceria" value="@Model.NomeCarroceria" readonly>
    </div>

    <div class="form-group">
        <label for="Cor">Cor</label>
        <input type="text" id="Cor" name="Cor" value="@Model.Cor" readonly>
    </div>

    <div class="form-group">
        <label for="MotorTurbo">Motor Turbo?</label>
        <span>@(Model.MotorTurbo ? "Sim" : "Não")</span>
    </div>

    <h2>Detalhes Venda</h2>

    <div class="form-group">
        <label for="ValorCarro">Valor do Carro (R$)</label>
        <input type="text" id="ValorCarro" name="ValorCarro"  value="@Model.ValorCarro.ToString("C2", System.Globalization.CultureInfo.GetCultureInfo("pt-BR"))" readonly>
    </div>

    <div class="form-group">
        <label for="ValorNegociado">Valor Negociado (R$)</label>
        <input type="text" id="ValorNegociado" name="ValorNegociado"  value="@Model.ValorNegociado.ToString("C2", System.Globalization.CultureInfo.GetCultureInfo("pt-BR"))" readonly>
    </div>

    <div class="form-group">
        <label for="ValorEntrada">Valor de Entrada (R$)</label>
        <input type="text" id="ValorEntrada" name="ValorEntrada"  value="@Model.ValorEntrada.ToString("C2", System.Globalization.CultureInfo.GetCultureInfo("pt-BR"))" readonly>
    </div>

    <div class="form-group">
        <label for="Parcelas">Quantidade-Parcelas</label>
        <input type="text" id="Parcelas" name="Parcelas" value="@Model.Parcelas" readonly>
    </div>

    <div class="form-group">
        <label for="ValorParcela">Valor da Parcela (R$)</label>
        <input type="text" id="ValorParcela" name="ValorParcela"
              value="@Model.ValorParcela" readonly>
    </div>





    <button type="button" class="btn btn-warning btn-sm" onclick="vendas.CancelarAdicionar()">Voltar</button>
</div>